In [5]:
import pandas as pd
# import numpy as np
from sqlalchemy import create_engine

In [3]:
df = pd.read_excel('rename_cam_03_31.xlsx', names = ["name", "city", "street", "ip"])
# Загружаем эксель с колонками из нетриса с именем хоста, городом, адресом и ip

FileNotFoundError: [Errno 2] No such file or directory: 'rename_cam_03_31.xlsx'

In [ ]:
df.head()

In [1]:
con = create_engine(r'postgresql+psycopg2://zabbix:zabbix_pass@localhost:5432/zabbix')

NameError: name 'create_engine' is not defined

In [ ]:
def select(sql):
  return pd.read_sql(sql,con)

In [ ]:
df.to_sql('test_hosts_name',con,index=False,if_exists='replace')
# Загружаем в БД данные из нетриса

182

In [ ]:
sql = '''select * from test_hosts_name limit 10
'''
# Проверяем корректность добавления тестовой таблицы
select(sql)

,name,city,street,ip
0,USS_OST_DetskayaPoliklinika_2,г. Уссурийск,"ул. Некрасова, д.52",192.168.1.248
1,USS_OST_DetskayaPoliklinika_3,г. Уссурийск,"ул. Некрасова, д.52",192.168.1.249
2,USS_OST_DetskayaPoliklinika_4,г. Уссурийск,"ул. Некрасова, д.52",192.168.1.251
3,USS_OST_DetskayaPoliklinika_1,г. Уссурийск,"ул. Некрасова, д.52",192.168.1.250
4,USS_OST_shtabArmii_3,г. Уссурийск,ост Штаб Армии,192.168.5.251
5,USS_OST_PedInstitut_4,г. Уссурийск,Остановка Педагогический Институт,192.168.3.250
6,USS_OST_CentralPloshad_4,г. Уссурийск,остановка Центральная Площадь,192.168.10.250
7,USS_OST_Komarova_142_4,г. Уссурийск,"Некрасова 142, остановка",192.168.2.253
8,USS_OST_7Vetrov_1,г. Уссурийск,"ул. Агеева, д. 52",192.168.8.248
9,USS_OST_Volodarskogo_4,г. Уссурийск,"ул. Некрасова, д. 45, остановка",192.168.4.249

In [ ]:
# Тестовое единичное изменение имени в таблице hosts если требуется

# sql = '''UPDATE hosts
# SET name = 'VLD_38.2.О'
# WHERE host = '172.27.40.9'
# '''

In [ ]:
select(sql)

,name,city,street,ip
0,USS_OST_DetskayaPoliklinika_2,г. Уссурийск,"ул. Некрасова, д.52",192.168.1.248
1,USS_OST_DetskayaPoliklinika_3,г. Уссурийск,"ул. Некрасова, д.52",192.168.1.249
2,USS_OST_DetskayaPoliklinika_4,г. Уссурийск,"ул. Некрасова, д.52",192.168.1.251
3,USS_OST_DetskayaPoliklinika_1,г. Уссурийск,"ул. Некрасова, д.52",192.168.1.250
4,USS_OST_shtabArmii_3,г. Уссурийск,ост Штаб Армии,192.168.5.251
5,USS_OST_PedInstitut_4,г. Уссурийск,Остановка Педагогический Институт,192.168.3.250
6,USS_OST_CentralPloshad_4,г. Уссурийск,остановка Центральная Площадь,192.168.10.250
7,USS_OST_Komarova_142_4,г. Уссурийск,"Некрасова 142, остановка",192.168.2.253
8,USS_OST_7Vetrov_1,г. Уссурийск,"ул. Агеева, д. 52",192.168.8.248
9,USS_OST_Volodarskogo_4,г. Уссурийск,"ул. Некрасова, д. 45, остановка",192.168.4.249

In [ ]:
sql = '''SELECT s.name, s.host, s.description, t.city, t.street, t.name
FROM hosts AS s JOIN test_hosts_name AS t ON s.host = t.ip
LIMIT 10
'''
# Джойним таблицу
select(sql)

In [ ]:
sql = '''SELECT s.name, s.host AS host, s.description, t.city || ', ' || t.street as descr, t.name AS camera_name
    FROM hosts AS s JOIN test_hosts_name AS t ON s.host = t.ip
    '''
# Последний раз сравниваем данные
select(sql)

In [ ]:
# Изменяем изначальную таблицу в БД
sql = '''
with t as (
    SELECT s.name, s.host AS host, COALESCE(s.description, '(no_description)'), t.city || ', ' || t.street as descr, t.name AS camera_name
    FROM hosts AS s JOIN test_hosts_name AS t ON s.host = t.ip
)
update hosts
set description = t.descr, name = t.camera_name
from t
where hosts.host = t.host
'''
select(sql)